@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
}

/* NAVBAR */
.navbar-brand { font-weight: bold; font-size: 20px; }

/* NAVBAR FIX */
.navbar {
    position:sticky;      /* rămâne la scroll */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;        /* deasupra hero-ului și a altor elemente */
    transition: background 0.3s ease;
}


/* body padding ca să nu acopere navbar-ul conținutul */
body {
    padding-top: 70px;    /* ajustează în funcție de înălțimea navbar-ului */
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
}
/* CARDURI GENERALE */
.card {
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* BUTOANE GENERALE */
.btn-profile, .btn-darkmode {
    background-color: #3b3a3a;
    color: white;
    border-radius: 12px;
    padding: 5px 14px;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

.btn-profile:hover, .btn-darkmode:hover {
    background-color: #71787e;
    transform: translateY(-2px);
}

/* DARK MODE GENERAL */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .card { background-color: #383838; color: white; }
.dark-mode .navbar { background-color: #000 !important; }



.hero-section {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(120deg, rgba(9, 9, 9, 0.8), rgba(154, 152, 152, 0.8)), url('https://images.unsplash.com/photo-1504376379689-8d54347b26c3?q=80&w=2000&auto=format&fit=crop');
    background-size: cover;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.91);
}


.dark-mode .hero-section {
    background: linear-gradient(120deg, #000000, #525252);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-shadow: 0 4px 15px rgb(99, 99, 99);
}