/* BODY GENERAL */
body {
    background-color: rgb(249, 244, 244);
}

/* NAVBAR */
.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

/* CARDURI GENERALE */
.card {
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* DARK MODE */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #383838;
  color: white;
}

.dark-mode .navbar {
  background-color: #000 !important;
}

/* placeholder vizibil în dark mode */
.dark-mode input::placeholder,
.dark-mode .form-control::placeholder {
    color: #8d8686;  /* gri deschis, vizibil pe fundal închis */
    opacity: 1;      /* unele browsere au opacitate mică implicit */
}

.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: white;
}

/*pt placeholdere din contul meu.html sa se vada la dark mode*/
.dark-mode .accout-info{
    background-color: #383838; /* gri închis */
    color: rgb(96, 94, 94);
}
.dark-mode .accout-info input::placeholder {
    color: #8d8686;
}

/* HOME PAGE - DARK MODE */

.dark-mode .news-card {
  background-color: #383838;
  color: white;
}

.dark-mode .link-card {
  background-color: #383838;
  color: white;
}

.dark-mode .section-title {
  color: white;
}

.dark-mode .info-box {
  background-color: #1e1e1e;
  color: white;
}

/*buton "profil" */
.btn-profile {
    background-color: #3b3a3a;   
    color: white;
    border-radius: 12px;         /* colțuri rotunjite */
    padding: 5px 14px;           /* mai elegant */
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);  /* mic shadow */
    transition: all 0.3s ease;
}

.btn-profile:hover {
    background-color: #71787e;   /* mai închis la hover */
    color: white;
    transform: translateY(-2px); /* efect mic de ridicare */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* Buton Dark Mode - similar cu Profil */
.btn-darkmode {
    background-color: #3b3a3a;   /* culoare ca profil */
    color: white;                /* text alb */
    border-radius: 12px;         /* colțuri rotunjite */
    padding: 5px 14px;           /* mai elegant */
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

.btn-darkmode:hover {
    background-color: #71787e;   /* mai deschis la hover */
    color: white;                /* text rămâne alb */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}